html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --brand-color: #2196f3;
  --accent-color: #2f303a;
  --accent-light-color: #f5f4fa;
  --accent-text-color: #757575;
  --main-text-color: #212121;
  --main-color: #ffffff;
  --main-portfolio-color: #e5e5e5;
  --grid: 3;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--main-text-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-1 {
  padding-top: 94px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--brand-color);
}

.current {
  color: var(--brand-color);
}

.current::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link.contacts {
  color: var(--accent-text-color);
}

.link.contacts:hover,
.link.contacts:focus {
  color: var(--brand-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-color);
}

address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.contacts-footer {
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.web {
  color: var(--brand-color);
}

.studio {
  color: var(--main-color);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

.wrap-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-left: 93px;
}

.menu-item,
.wrap-item:not(:last-child) {
  margin-right: 50px;
}

.wrap {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.button {
  display: inline-block;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  border: 1px solid transparent;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--brand-color);
  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--accent-light-color);
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border: transparent;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: var(--main-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.hero {
  display: flex;
  text-align: center;
}

.hero-content {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
  width: 696px;
  margin: 0 auto 30px;
  margin-bottom: 30px;
}

.benifits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benifits-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.content-box {
  flex-basis: calc((100% - var(--grid) * 30px) / var(--grid));
  margin-left: 30px;
  margin-top: 30px;
}

.benifits-item {
  --grid: 4;
}

.our-team {
  background-color: var(--accent-light-color);
}

.team-info {
  padding: 30px 0 30px 0;
  text-align: center;
  background: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.nav-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.nav-portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.picture-item {
  width: 370px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  background-color: var(--main-color);
  cursor: pointer;
}

.picture-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.picture-content {
  padding: 20px 24px;
}

.picture-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  text-transform: none;
}

.desc {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.mail {
  margin-top: 9px;
  margin-bottom: 9px;
}

/* Многослойный фон в hero */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.button-icon {
  padding: 0;
  border: none;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: var(--accent-light-color);
  border-radius: 4px;
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-icons {
  display: inline-flex;
}

.social-icons-item {
  width: 44px;
  height: 44px;
}

.social-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  color: #afb1b8;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-item + .social-icons-item {
  margin-left: 10px;
}

.social-icon-link:hover .icon,
.social-icon-link:focus .icon {
  fill: var(--main-color);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--brand-color);
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Наши клиенты */

.clients {
  --grid: 6;
}

.clients-link {
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: #afb1b8;
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--brand-color);
  border-radius: 4px;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--brand-color);
}

.join-us {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.footer-social-icon-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-color);
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.address-part {
  margin-right: 70px;
}

.label-item {
  position: relative;
}

.label-overlay {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms;
}

.text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--main-color);
}

.picture-item:hover .portfolio-overlay {
  transform: translateY(0);
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--main-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--main-color);
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-button:hover > .close-icon,
.close-button:focus > .close-icon {
  fill: var(--brand-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--accent-color);
  border-radius: 4px;
  margin-right: 12px;
  padding: 15px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.icon-send {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
  margin-left: 10px;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  min-width: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--brand-color);
  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
  margin-left: 93px;
}

.modal-title {
  margin-bottom: 12px;
  font-style: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-wrap {
  display: flex;
  flex-direction: column;
}

.modal-input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  cursor: pointer;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--accent-text-color);
}

.modal-label:not(:first-child) {
  margin-top: 15px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid var(--brand-color);
  outline-color: var(--brand-color);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--brand-color);
}

.comment {
  height: 120px;
  resize: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link {
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--brand-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal {
  margin-top: 30px;
}

.btn-modal:hover,
.btn-modal:focus {
  background-color: #188ce8;
}

.check-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 4px;
  margin-right: 7px;
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-input:checked + .check-icon {
  background-image: url(../images/icons.svg#icon-check);
  background-size: contain;
  background-origin: border-box;
  background-color: var(--brand-color);
}
